#pageOneEnglish{
    -fx-background-image: url("../icons/PageOne/English/Static_images/background.png");
}
#innerBoxEnglish{
    -fx-background-image: url("../icons/PageOne/English/Static_images/see-touch-smell-symbols.png");
}
#bottomLeftBoxEnglish{
    -fx-background-image: url("../icons/PageOne/English/Static_images/08-Powered-by-Sniffy-png.png");
}
#bottomRightBoxEnglish{
    -fx-background-image: url("../icons/PageOne/English/Static_images/09-Group-ADP-corner.png");
}
#pageOneFrench{
    -fx-background-image: url("../icons/PageOne/French/Static_images/background.png");
}
#innerBoxFrench{
    -fx-background-image: url("../icons/PageOne/French/Static_images/see-touch-smell-symbols.png");
}
#bottomLeftBoxFrench{
    -fx-background-image: url("../icons/PageOne/French/Static_images/Powered-by-Sniffy.png");
}
#bottomRightBoxFrench{
    -fx-background-image: url("../icons/PageOne/French/Static_images/Group-ADP-corner.png");
}

